body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center; 
}

body.dark-mode {
  background-color: #343a40;
}

.theme-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #f8f9fa;
  border: none;
  cursor: pointer;
}

.dark-mode .theme-toggle {
  background-color: #343a40;
}

.welcome {
  text-align: center;
  background-color: #ffffff; 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;

  width: 30vw;
}

.dark-mode .welcome {
  background-color: #484f56; 
}

.welcome h1 {
  color: #008A5B;
}

.dark-mode .welcome h1 {
  color: #3DC08D;
}

.welcome p {
  color: #333333;
}

.dark-mode .welcome p {
  color: #ffffff;
}

.welcome-button {
  background-color: #3DC08D; 
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
  padding: 10px 20px;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

.welcome-button.selected {
  background-color: #008A5B; 
}

.welcome-button:hover {
  background-color: #2ea578; 
}

.exercise-list {
  margin: 20px;
}

.exercise-list ul {
  list-style-type: none;
  padding: 0;
}

.exercise-list li {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
}

.dark-mode .exercise-list li {
  background-color: #bed3d1;
}

.exercise-list h3 {
  margin-top: 0;
}

.exercise-list p {
  margin: 5px 0;
  font-size: 18px;
}

.dark-mode .exercise-list .loading {
  color: #ecf1f0;
}

.dark-mode .exercise-list p {
  color: #333333;
}

.exercise-action {
  text-align: center;
}

.exercise-action button {
  background-color: #3DC08D; 
  border: none;
  border-radius: 50%;
  padding: 5px; 
  
  cursor: pointer;
  font-size: 2rem;
}

.exercise-list-liked {
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}

.dark-mode .exercise-list-liked {
  color: #ecf1f0;
}

.exercise-list-liked ul {
  list-style-type: none;
  padding: 0;
}

.exercise-list-liked li {
  background-color: #f8f9fa;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 10px;
}

.dark-mode .exercise-list-liked li {
  color: #333;
}

.exercise-list-liked p {
  color: #333333; 
  font-size: 18px;
  background-color: #f8f9fa; 
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 10px;
}

.dark-mode .exercise-list-liked p {
  background-color: #bed3d1;
  color: #333;
}
